In [11]:
import pandas as pd
import numpy as np
import os

new_directory = "/Users/gonzalo/Desktop/DAPT/SQL-Project"
os.chdir(new_directory)

# Verify the change
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Read the CSV file into a DataFrame
population = pd.read_csv('population-by-age-group1.csv')

# Display the DataFrame
print(population)

""" https://www.kaggle.com/datasets/elmoallistair/population-by-age-group-2021/ """

display(population)

Current Working Directory: /Users/gonzalo/Desktop/DAPT/SQL-Project
            Entity Code  Year  \
0      Afghanistan  AFG  1950
1      Afghanistan  AFG  1951
2      Afghanistan  AFG  1952
3      Afghanistan  AFG  1953
4      Afghanistan  AFG  1954
...            ...  ...   ...
18283     Zimbabwe  ZWE  2017
18284     Zimbabwe  ZWE  2018
18285     Zimbabwe  ZWE  2019
18286     Zimbabwe  ZWE  2020
18287     Zimbabwe  ZWE  2021

       Population by broad age group - Sex: all - Age: 65+ - Variant: estimates  \
0                                                 213022
1                                                 216096
2                                                 219028
3                                                 221925
4                                                 224755
...                                                  ...
18283                                             476920
18284                                             495726
18285                                             513733
18286                                             529048
18287                                             537915

       Population by broad age group - Sex: all - Age: 25-64 - Variant: estimates  \
0                                                2773093
1                                                2803308
2                                                2834902
3                                                2866392
4                                                2898163
...                                                  ...
18283                                            5049812
18284                                            5171333
18285                                            5297464
18286                                            5431480
18287                                            5572892

       Population by broad age group - Sex: all - Age: 15-24 - Variant: estimates  \
0                                                1425494
1                                                1446694
2                                                1468534
3                                                1489850
4                                                1510311
...                                                  ...
18283                                            3006441
18284                                            3093500
18285                                            3176011
18286                                            3260114
18287                                            3342436

       Population by broad age group - Sex: all - Age: 5-14 - Variant: estimates  \
0                                                1820573
1                                                1858587
2                                                1896850
3                                                1931657
4                                                1963243
...                                                  ...
18283                                            3930524
18284                                            4008056
18285                                            4085658
18286                                            4161916
18287                                            4240570

       Population by broad age group - Sex: all - Age: 0-4 - Variant: estimates
0                                                1248282
1                                                1246857
2                                                1248220
3                                                1254725
4                                                1267817
...                                                  ...
18283                                            2287404
18284                                            2283576
18285                                            2281740
18286                                            2287105
18287                                            2299712

[18288 rows x 8 columns]

,Entity,Code,Year,Population by broad age group - Sex: all - Age: 65+ - Variant: estimates,Population by broad age group - Sex: all - Age: 25-64 - Variant: estimates,Population by broad age group - Sex: all - Age: 15-24 - Variant: estimates,Population by broad age group - Sex: all - Age: 5-14 - Variant: estimates,Population by broad age group - Sex: all - Age: 0-4 - Variant: estimates
0,Afghanistan,AFG,1950,213022,2773093,1425494,1820573,1248282
1,Afghanistan,AFG,1951,216096,2803308,1446694,1858587,1246857
2,Afghanistan,AFG,1952,219028,2834902,1468534,1896850,1248220
3,Afghanistan,AFG,1953,221925,2866392,1489850,1931657,1254725
4,Afghanistan,AFG,1954,224755,2898163,1510311,1963243,1267817
...,...,...,...,...,...,...,...,...
18283,Zimbabwe,ZWE,2017,476920,5049812,3006441,3930524,2287404
18284,Zimbabwe,ZWE,2018,495726,5171333,3093500,4008056,2283576
18285,Zimbabwe,ZWE,2019,513733,5297464,3176011,4085658,2281740
18286,Zimbabwe,ZWE,2020,529048,5431480,3260114,4161916,2287105
18287,Zimbabwe,ZWE,2021,537915,5572892,3342436,4240570,2299712

## Europe analysis

In [13]:



population_EU = population.loc[population["Entity"].isin(['Germany','Austria', "Spain", "Finland","Romania", "Sweden", "Latvia", "Estonia", "France", "Czechia", "Belgium", "Denmark", "Greece", "Bulgaria", "Luxembourg", "Lithuania", "Hungary", "Italy", "Netherlands", "Poland", "Croatia", "Slovenia", "Portugal", "Slovakia","Cyprus", "Ireland", "Malta"])]
population_EU


population_EU = population_EU.sort_values(by='Entity').reset_index(drop=True)
population_EU


population_EU.columns


population_EU = population_EU[["Entity",'Population by broad age group - Sex: all - Age: 15-24 - Variant: estimates','Population by broad age group - Sex: all - Age: 25-64 - Variant: estimates']]
population_EU

,Entity,Population by broad age group - Sex: all - Age: 15-24 - Variant: estimates,Population by broad age group - Sex: all - Age: 25-64 - Variant: estimates
0,Austria,949940,3684944
1,Austria,958974,4487267
2,Austria,954771,4455523
3,Austria,955580,4427705
4,Austria,959144,4402242
...,...,...,...
1939,Sweden,1208208,4046751
1940,Sweden,1231465,4009463
1941,Sweden,1253500,3948299
1942,Sweden,1171996,4246061
1943,Sweden,1176116,5332498

## GDP Analysis

In [14]:
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /Users/gonzalo/Desktop/DAPT/SQL-Project

In [15]:

""" MOVING ON TO: THE GDP """

GDP = pd.read_csv('Countries_GDP.csv')

""" https://www.kaggle.com/datasets/rajkumarpandey02/gdp-in-usd-per-capita-income-by-country """


GDP

GDP.columns

GDP = GDP.rename(columns={'Country/Territory': 'Country'})


GDP_EU = GDP.loc[GDP["Country"].isin(['Germany','Austria', "Spain", "Finland","Romania", "Sweden", "Latvia", "Estonia", "France", "Czechia", "Belgium", "Denmark", "Greece", "Bulgaria", "Luxembourg", "Lithuania", "Hungary", "Italy", "Netherlands", "Poland", "Croatia", "Slovenia", "Portugal", "Slovakia", "Czech Republic", "Cyprus", "Malta", "Ireland"])]
GDP_EU



GDP_EU.shape


GDP_EU = GDP_EU.sort_values(by='Country').reset_index(drop=True)
GDP_EU

GDP_EU = GDP_EU[['Country', 'IMF']]


GDP_EU

           Country     IMF
0          Austria   56802
1          Belgium   53377
2         Bulgaria   14893
3          Croatia   20537
4           Cyprus   33807
5   Czech Republic   31368
6          Denmark   68827
7          Estonia   31209
8          Finland   54351
9           France   44408
10         Germany   51383
11          Greece   22595
12         Hungary   19385
13         Ireland  114581
14           Italy   36812
15          Latvia   25136
16       Lithuania   28094
17      Luxembourg  132372
18           Malta   36989
19     Netherlands   61098
20          Poland   19912
21        Portugal   26012
22         Romania   18530
23        Slovakia   23457
24        Slovenia   32214
25           Spain   31223
26          Sweden   55395

## FUTURE EMPLOYMENT GROWTH IN HIGH TECH

In [16]:

""" MOVING ON TO: FUTURE EMPLOYMENT GROWTH IN HIGH TECH """

Growth = pd.read_csv('Employment growth in Whole high-tech economy in 2022-2035.csv')

""" https://www.cedefop.europa.eu/en/tools/skills-intelligence/employment-growth-high-tech-economy?country=EU27&year=2022-2035#2 """



Growth

Growth_EU = Growth[Growth['Countries'] != 'EU27'].reset_index(drop=True)
Growth_EU


Growth_EU = Growth_EU.rename(columns={'Countries': 'Country'})
Growth_EU


Growth_EU = Growth_EU.sort_values(by='Country').reset_index(drop=True)
Growth_EU


Growth_EU = Growth_EU[["Country", "Value"]]
Growth_EU

 
Growth_EU.to_csv('Growth_EU.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Employment growth in Whole high-tech economy in 2022-2035.csv'

In [ ]:


""" MOVING ON TO: EMPLOYMENT WITH BASIC IT SKILLS """


# In[84]:


Skills = pd.read_csv("/Users/juliettegoardon/Desktop/SQL-Project/Share of All in employment in 2021 with above basic digital skills across European countries.csv")

"""https://www.cedefop.europa.eu/en/tools/skills-intelligence/digital-skills-level?year=2021"""


# In[85]:


Skills


# In[86]:


Skills_EU = Skills[Skills['Countries'] != 'EU27'].reset_index(drop=True)
Skills_EU


# In[87]:


Skills_EU = Skills_EU.rename(columns={'Countries': 'Country'})
Skills_EU


# In[88]:


Skills_EU = Skills_EU.sort_values(by='Country').reset_index(drop=True)
Skills_EU


# In[89]:


Skills_EU = Skills_EU[["Indicator","Country", "Value"]]
Skills_EU


# In[90]:


import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
Growth_EU.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/Skills_EU.csv')


# In[ ]: