# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

## Create tables

In [13]:
import mysql.connector
cnx = mysql.connector.connect(
    user='root',
    password='DAPT2023',
    database='projects',
    port=3306,
    auth_plugin='mysql_native_password'
)
cursor = cnx.cursor()
print('MySQL connection established:', cnx.is_connected())

# SQL statements to create tables
create_locations_table = """
CREATE TABLE locations (
    id INT PRIMARY KEY,
    description VARCHAR(52),
    country_id INT,
    country_name VARCHAR(52),
    country_abbrev VARCHAR(20),
    city_id INT,
    city_name VARCHAR(32),
    city_keyword VARCHAR(32),
    state_id INT,
    state_name VARCHAR(32),
    state_abbrev VARCHAR(20),
    state_keyword VARCHAR(32),
    school VARCHAR(32),
    school_id INT
);
"""
create_courses_table = """
CREATE TABLE IF NOT EXISTS courses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    courses VARCHAR(255),
    school VARCHAR(255),
    school_id INT
);
"""
create_badges_table = """
CREATE TABLE IF NOT EXISTS badges (
    id INT AUTO_INCREMENT PRIMARY KEY,
    badge_name VARCHAR(255),
    school VARCHAR(255),
    school_id INT
);
"""
create_schools_table = """
CREATE TABLE IF NOT EXISTS schools (
    id INT AUTO_INCREMENT PRIMARY KEY,
    website VARCHAR(255),
    description TEXT,
    logo_url VARCHAR(255),
    school VARCHAR(255),
    school_id INT
);
"""
# Execute the SQL statements to create tables
cursor.execute(create_locations_table)
cursor.execute(create_courses_table)
cursor.execute(create_badges_table)
cursor.execute(create_schools_table)
# Commit the changes and close the connection
cnx.commit()
cnx.close()

MySQL connection established: True

In [16]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
    'ironhack' : 10828,
    'app-academy' : 10525,
    'springboard' : 11035,
    'le-wagon' : 10868, 
    'general-assembly':10761,
    'brainstation': 10571,
    'flatiron-school': 10748,
    '4geeks-academy': 10492,
    'academia-de-codigo':10494,
    'wild-code-school':11169,
    'edit-disruptive-digital-education':10731,
    'nuclio-digital-school':11509,
    'neoland':10906,
    'la-capsule':10853,
    'careerfoundry':10581,
    'neue-fische': 11753,
    'spiced-academy': 11034,    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

## [WIP] Course Report scraping code

In order to enrich our analysis, we are going to extract information about bootcamp enterprises from Course Report (https://www.coursereport.com/), another course aggregator

In [15]:
import re
import pandas as pd
import requests
from json.decoder import JSONDecodeError

def get_comments_school_course_report(school):
    TAG_RE = re.compile(r'<[^>]+>')
    
    # Define the Course Report URL or API endpoint
    url = "https://www.coursereport.com/schools/" + school + "/reviews"
    
    # Make a GET request
    data = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if data.status_code == 200:
        try:
            # Try to parse the response as JSON
            reviews = pd.DataFrame(data.json()['reviews'])
            
            # Define a function to remove HTML tags
            def remove_tags(x):
                return TAG_RE.sub('', x)
            
            # Apply the function to the review body
            reviews['review_body'] = reviews['body'].apply(remove_tags)
            
            # Add the school name to the dataframe
            reviews['school'] = school
            
            return reviews
        except JSONDecodeError:
            print("Error: Unable to parse JSON from the response.")
    else:
        print(f"Error: Received status code {data.status_code}")

# Example usage for Course Report
course_report_schools = {
    'school1': 'school1_id',
    'school2': 'school2_id',
    'school3': 'school3_id',
}

for school, school_id in course_report_schools.items():
    reviews = get_comments_school_course_report(school_id)
    if reviews:
        print(reviews)

Error: Received status code 404
Error: Received status code 404
Error: Received status code 404

In [17]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
le-wagon
general-assembly
brainstation
flatiron-school
4geeks-academy
academia-de-codigo
wild-code-school
edit-disruptive-digital-education
nuclio-digital-school
neoland
la-capsule
careerfoundry
neue-fische

KeyError: 'body'

In [18]:
comments

[          id                   name  anonymous hostProgramName  \
 0     306372          Sergio Burgos      False            None
 1     306215              Anonymous       True            None
 2     306068              Anonymous       True            None
 3     305297            Utku Cikmaz      False            None
 4     305278           Nirmal Hodge      False            None
 ...      ...                    ...        ...             ...
 1280  231772              Anonymous      False            None
 1281  231636        Marcos Sorribas      False            None
 1282  231611          Xabier Vicuña      False            None
 1283  231609                    JHD      False            None
 1284  231815  Enrique Isasi Velasco      False    UX/UI Design

       graduatingYear  isAlumni                                 jobTitle  \
 0               2023     False                 International Negotiator
 1               2023      True
 2               2023     False                   Full stack development
 3               2023     False                 Full Stack Web Developer
 4               2023     False                         Product Designer
 ...              ...       ...                                      ...
 1280            2014      True                                     None
 1281            2014      True                            iOS Developer
 1282            2014      True                             Entrepreneur
 1283            2014      True                                     None
 1284            2014      True  Founder, RoR Developer @ Decorissimo.es

                                                 tagline  \
 0                   The Most Intense Academic Challenge
 1        Transformative Experience: My Time at Ironhack
 2                                       Now I can do it
 3                                           It was good
 4                               Ironhack 100% Worth It!
 ...                                                 ...
 1280  Learn in two months what would otherwise take ...
 1281  El mejor bootcamp al que he asistido. Una expe...
 1282            Great experience, I highly recommend it
 1283                      It was an amazing experience!
 1284                                   Simply gorgeous.

                                                    body  \
 0     <span class="truncatable"><p></p><p>After comp...
 1     <span class="truncatable"><p></p><p>Pros: 1)In...
 2     <span class="truncatable"><p></p><p>7 months a...
 3     <span class="truncatable"><p></p><p>The course...
 4     <span class="truncatable"><p></p><p>I joined t...
 ...                                                 ...
 1280  <span class="truncatable"><p>I can fully recom...
 1281  <span class="truncatable"><p>Asistí al primer ...
 1282  <span class="truncatable"><p>Excellent product...
 1283  <span class="truncatable"><p>I was part of the...
 1284  <span class="truncatable"><p>I attended the Ir...

                                                 rawBody  ...   queryDate  \
 0     <p>After completing my Data Analytics Bootcamp...  ...  2023-11-10
 1     <p>Pros: 1)Intensive Learning 2)Real-World Pro...  ...  2023-11-06
 2     <p>7 months ago, I only had an idea about html...  ...  2023-10-31
 3     <p>The course was great. Especially, Luis is a...  ...  2023-10-02
 4     <p>I joined the UX/ UI Bootcamp and to be hone...  ...  2023-09-30
 ...                                                 ...  ...         ...
 1280  I can fully recommend IronHack for any of you ...  ...  2014-09-30
 1281  Asistí al primer bootcamp de desarrollo de iOS...  ...  2014-09-24
 1282  Excellent product. Great experience. Worth eve...  ...  2014-09-24
 1283  I was part of the first English run of Ironhac...  ...  2014-09-24
 1284  I attended the Ironhack Madrid Bootcamp on Jan...  ...  2014-09-23

                                   program             user overallScore  \
 0                 Data Analytics Bootcamp  {'image': None}          3.3
 1                Web Development Bootcamp  {'image': None}          4.0
 2                                    None  {'image': None}          5.0
 3                Web Development Bootcamp  {'image': None}          4.0
 4                   UX/UI Design Bootcamp  {'image': None}          5.0
 ...                                   ...              ...          ...
 1280            Part-time Web Development  {'image': None}          5.0
 1281  Full-time Web Development Bootcamp   {'image': None}          5.0
 1282            Part-time Web Development  {'image': None}          5.0
 1283            Part-time Web Development  {'image': None}          5.0
 1284            Part-time Web Development  {'image': None}          5.0

      comments overall curriculum jobSupport  \
 0          []     3.0        3.0        4.0
 1          []     4.0        4.0        4.0
 2          []     5.0        5.0        5.0
 3          []     5.0        3.0        4.0
 4          []     5.0        5.0        5.0
 ...       ...     ...        ...        ...
 1280       []     5.0        5.0        5.0
 1281       []     5.0        5.0        5.0
 1282       []     5.0        5.0        5.0
 1283       []     5.0        5.0        5.0
 1284       []     5.0        5.0        5.0

                                             review_body    school
 0     After completing my Data Analytics Bootcamp wi...  ironhack
 1     Pros: 1)Intensive Learning 2)Real-World Projec...  ironhack
 2     7 months ago, I only had an idea about html an...  ironhack
 3     The course was great. Especially, Luis is a gr...  ironhack
 4     I joined the UX/ UI Bootcamp and to be honest ...  ironhack
 ...                                                 ...       ...
 1280  I can fully recommend IronHack for any of you ...  ironhack
 1281  Asistí al primer bootcamp de desarrollo de iOS...  ironhack
 1282  Excellent product. Great experience. Worth eve...  ironhack
 1283  I was part of the first English run of Ironhac...  ironhack
 1284  I attended the Ironhack Madrid Bootcamp on Jan...  ironhack

 [1285 rows x 21 columns],
           id                name  anonymous hostProgramName  graduatingYear  \
 0     303643     Jason Greenberg      False            None          2023.0
 1     302863     Andrew Derocher      False            None          2021.0
 2     302621       Luke Yamasaki      False            None          2022.0
 3     301806           Katie Han      False            None          2022.0
 4     301774  Brandon Bimestefer      False            None          2023.0
 ...      ...                 ...        ...             ...             ...
 1193  233171              Ronnie      False            None          2014.0
 1194  232243         John Smithe      False            None          2014.0
 1195  232225                Will      False            None          2013.0
 1196  231672           Nick Hong      False            None          2013.0
 1197  245141             Zen Zoe      False            None          2013.0

       isAlumni           jobTitle  \
 0        False
 1        False  Software Engineer
 2        False        UX Engineer
 3        False  Software Engineer
 4        False      Jr. Developer
 ...        ...                ...
 1193      True               None
 1194      True               None
 1195      True               None
 1196      True               None
 1197      True               None

                                                 tagline  \
 0     If you are driven, App Academy will get you th...
 1       Fantastic Program. Worth 10x my college degree.
 2                                          Great school
 3          Successfully break into software engineering
 4                Great Course and Supportive Job Search
 ...                                                 ...
 1193         Got my pick of job offers after graduation
 1194          Strong curriculum but very little support
 1195                        App Academy changed my life
 1196  I'm very happy I decided to attend AA. It's no...
 1197                                               None

                                                    body  \
 0     <span class="truncatable"><p></p><p>If you are...
 1     <span class="truncatable"><p></p><p>Was lookin...
 2     <span class="truncatable"><p></p><p>App Academ...
 3     <span class="truncatable"><p></p><p>I chose Ap...
 4     <span class="truncatable"><p></p><p>I took the...
 ...                                                 ...
 1193  <span class="truncatable"><p>I received my fir...
 1194  <span class="truncatable"><p>Pros:</p><p>Curri...
 1195  <span class="truncatable"><p>This is a respons...
 1196  <span class="truncatable"><p>I'm very happy I ...
 1197  <span class="truncatable"><p></p><p>This is a ...

                                                 rawBody  ...   queryDate  \
 0     <p>If you are truly motivated, look no further...  ...  2023-08-08
 1     <p>Was looking for a career change and this pr...  ...  2023-07-14
 2     <p>App Academy taught me the skills necessary ...  ...  2023-07-05
 3     <p>I chose App Academy because it was one of t...  ...  2023-06-06
 4     <p>I took the 24 week online course and I didn...  ...  2023-06-05
 ...                                                 ...  ...         ...
 1193  I received my first job offer one week after s...  ...  2016-01-06
 1194  Pros:\r\n\r\nCurriculum is well designed at of...  ...  2015-03-28
 1195  This is a response to AlanS. \r\n\r\nI took th...  ...  2015-03-15
 1196  I'm very happy I decided to attend AA. It's no...  ...  2014-06-15
 1197  <p>This is a personal story.&nbsp;\r\n\r\nI gr...  ...  2013-12-28

                                                program             user  \
 0     24-week Software Engineering Program (Full Time)  {'image': None}
 1     24-week Software Engineering Program (Full Time)  {'image': None}
 2     24-week Software Engineering Program (Full Time)  {'image': None}
 3                 16-week Software Engineering Program  {'image': None}
 4     24-week Software Engineering Program (Full Time)  {'image': None}
 ...                                                ...              ...
 1193                Software Engineer Track: In-Person  {'image': None}
 1194                Software Engineer Track: In-Person  {'image': None}
 1195                Software Engineer Track: In-Person  {'image': None}
 1196                                              None  {'image': None}
 1197                                              None  {'image': None}

      overallScore comments overall curriculum jobSupport  \
 0             5.0       []     5.0        5.0        5.0
 1             5.0       []     5.0        5.0        5.0
 2             5.0       []     5.0        5.0        NaN
 3             4.7       []     5.0        4.0        5.0
 4             4.7       []     5.0        4.0        5.0
 ...           ...      ...     ...        ...        ...
 1193          5.0       []     5.0        NaN        NaN
 1194          3.3       []     4.0        4.0        2.0
 1195          5.0       []     5.0        5.0        5.0
 1196          5.0       []     5.0        NaN        NaN
 1197         None       []     NaN        NaN        NaN

                                             review_body       school
 0     If you are truly motivated, look no further th...  app-academy
 1     Was looking for a career change and this progr...  app-academy
 2     App Academy taught me the skills necessary to ...  app-academy
 3     I chose App Academy because it was one of the ...  app-academy
 4     I took the 24 week online course and I didn't ...  app-academy
 ...                                                 ...          ...
 1193  I received my first job offer one week after s...  app-academy
 1194  Pros:Curriculum is well designed at of the app...  app-academy
 1195  This is a response to AlanS. I took the course...  app-academy
 1196  I'm very happy I decided to attend AA. It's no...  app-academy
 1197  This is a personal story. I graduated from the...  app-academy

 [1198 rows x 21 columns],
           id                 name  anonymous hostProgramName  graduatingYear  \
 0     306451            Anonymous       True            None          2023.0
 1     306317            Anonymous       True            None          2023.0
 2     306260            Anonymous       True            None          2023.0
 3     306172  Jose David Sandoval      False            None          2023.0
 4     305884         Parth Bhakta      False            None          2023.0
 ...      ...                  ...        ...             ...             ...
 1551  234894         Stephanie S.      False            None          2015.0
 1552  234877             Joe Fang      False            None          2015.0
 1553  234838                Zeina      False            None          2016.0
 1554  242681                 Jean      False            None          2016.0
 1555  234178                  Ben      False            None          2016.0

       isAlumni                         jobTitle  \
 0         True                     UX/UI Design
 1        False                       Tech Sales
 2        False                     Data Analyst
 3        False
 4        False
 ...        ...                              ...
 1551      True          Website Manager-UX Lead
 1552      True                      UX Designer
 1553      True          Senior Graphic Designer
 1554      True  Lead Designer/Creative Director
 1555      True                             None

                                                 tagline  \
 0                                             Wonderful
 1                          My experience at Springboard
 2                                                 Great
 3                              Great resources and labs
 4                              Springboard UI/UX course
 ...                                                 ...
 1551              Excellent and comprehensive UX course
 1552        Springboard helped me start my career in UX
 1553                                 Highly recommended
 1554    A way to stay current for the highly motivated!
 1555  Springboard is an excellent course for self dr...

                                                    body  \
 0     <span class="truncatable"><p></p><p>Pros: I fo...
 1     <span class="truncatable"><p></p><p>My experie...
 2     <span class="truncatable"><p></p><p>Pros : Wor...
 3     <span class="truncatable"><p></p><p>Springboar...
 4     <span class="truncatable"><p></p><p>From the g...
 ...                                                 ...
 1551  <span class="truncatable"><p>The UX Design Wor...
 1552  <span class="truncatable"><p>Just some backgro...
 1553  <span class="truncatable"><p>I enjoyed the pro...
 1554  <span class="truncatable"><p>This was my first...
 1555  <span class="truncatable"><p>I really enjoyed ...

                                                 rawBody  ...   queryDate  \
 0     <p>Pros: I found the Springboard bootcamp to b...  ...  2023-11-14
 1     <p>My experience at Springboard was great. Won...  ...  2023-11-08
 2     <p>Pros : Working with industry mentor and pro...  ...  2023-11-07
 3     <p>Springboard is great if going to in person ...  ...  2023-11-03
 4     <p>From the get go, I felt slightly overwhelme...  ...  2023-10-24
 ...                                                 ...  ...         ...
 1551  The UX Design Workshop gave me a great underst...  ...  2016-12-15
 1552  Just some background information on myself, I ...  ...  2016-12-15
 1553  I enjoyed the program very much, gained a lot ...  ...  2016-12-15
 1554  This was my first online experience and it did...  ...  2016-12-12
 1555  I really enjoyed my time with the Springboard ...  ...  2016-12-10

                           program             user overallScore comments  \
 0       UI/UX Design Career Track  {'image': None}          4.3       []
 1         Tech Sales Career Track  {'image': None}          5.0       []
 2     Data Analytics Career Track  {'image': None}          4.0       []
 3     Cyber Security Career Track  {'image': None}          5.0       []
 4       UI/UX Design Career Track  {'image': None}          4.7       []
 ...                           ...              ...          ...      ...
 1551                    UX Design  {'image': None}          5.0       []
 1552                    UX Design  {'image': None}          5.0       []
 1553                    UX Design  {'image': None}          3.7       []
 1554                    UX Design  {'image': None}          5.0       []
 1555                    UX Design  {'image': None}          4.7       []

      overall curriculum jobSupport  \
 0        4.0        5.0        4.0
 1        5.0        5.0        5.0
 2        4.0        4.0        4.0
 3        5.0        5.0        5.0
 4        4.0        5.0        5.0
 ...      ...        ...        ...
 1551     5.0        5.0        5.0
 1552     5.0        5.0        5.0
 1553     4.0        4.0        3.0
 1554     5.0        5.0        5.0
 1555     5.0        5.0        4.0

                                             review_body       school
 0     Pros: I found the Springboard bootcamp to be i...  springboard
 1     My experience at Springboard was great. Wonder...  springboard
 2     Pros : Working with industry mentor and profes...  springboard
 3     Springboard is great if going to in person cla...  springboard
 4     From the get go, I felt slightly overwhelmed, ...  springboard
 ...                                                 ...          ...
 1551  The UX Design Workshop gave me a great underst...  springboard
 1552  Just some background information on myself, I ...  springboard
 1553  I enjoyed the program very much, gained a lot ...  springboard
 1554  This was my first online experience and it did...  springboard
 1555  I really enjoyed my time with the Springboard ...  springboard

 [1556 rows x 21 columns],
           id                   name  anonymous hostProgramName  \
 0     305425          Minnerva Sasu      False            None
 1     305313        Alexander Pegot      False            None
 2     305209              Anonymous       True            None
 3     305205              Anonymous       True            None
 4     305099  Silvia Santillan Nava      False            None
 ...      ...                    ...        ...             ...
 2725  231857            Baptiste H.      False            None
 2726  231855        Mélanie Navarro      False            None
 2727  231853             Olivier Xu      False            None
 2728  231852              Sébastien      False            None
 2729  231851        Niels Mayrargue      False            None

       graduatingYear isAlumni                   jobTitle  \
 0             2023.0    False
 1             2022.0    False               Data Analyst
 2             2023.0    False
 3             2023.0    False
 4             2023.0    False                 Senior BDR
 ...              ...      ...                        ...
 2725          2014.0     True          Software Engineer
 2726             NaN    False                       None
 2727          2014.0     True  Co-founder @ getkudoz.com
 2728          2014.0     True           Junior Developer
 2729          2014.0     True                       None

                                                 tagline  \
 0                                            Amazing!!!
 1                                      Great Experience
 2                                  Incredible bootcamp!
 3               That was amazing experience at Le wagon
 4                  Data Analytics proficient in 9 weeks
 ...                                                 ...
 2725  I entered "le Wagon" program et I and found a ...

In [19]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

le-wagon

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

general-assembly

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

flatiron-school

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

4geeks-academy

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

academia-de-codigo

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

wild-code-school

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

edit-disruptive-digital-education

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

nuclio-digital-school

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

neoland

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

la-capsule

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

careerfoundry

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

neue-fische

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

spiced-academy

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_14393/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [20]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia        20.0             Australia
 1   15904          Casablanca, Morocco        44.0               Morocco
 2   15906      Buenos Aires, Argentina        60.0             Argentina
 3   15964            Brussels, Belgium        46.0               Belgium
 4   16039          Mexico City, Mexico        29.0                Mexico
 5   16049       Amsterdam, Netherlands        59.0           Netherlands
 6   16106            Sao Paulo, Brazil        42.0                Brazil
 7   16124             Barcelona, Spain        12.0                 Spain
 8   16145             Bordeaux, France        38.0                France
 9   16147                Lille, France        38.0                France
 10  16148             Lisbon, Portugal        28.0              Portugal
 11  16149              Bali, Indonesia        35.0             Indonesia
 12  16150               Nantes, France        38.0                France
 13  16274      Rio de Janeiro , Brazil        42.0                Brazil
 14  16275            Marseille, France        38.0                France
 15  16282             Montreal, Canada         2.0                Canada
 16  16283              Shanghai, China        15.0                 China
 17  16407                 Tokyo, Japan        48.0                 Japan
 18  16408                 Lyon, France        38.0                France
 19  16765              Berlin, Germany        57.0               Germany
 20  16767                Paris, France        38.0                France
 21  16776        Lausanne, Switzerland        32.0           Switzerland
 22  16800                Madrid, Spain        12.0                 Spain
 23  16805               Rennes, France        38.0                France
 24  16936         Singapore, Singapore        56.0             Singapore
 25  16967              London, England        61.0               England
 26  17314  Dubai, United Arab Emirates        34.0  United Arab Emirates
 27  17395              Munich, Germany        57.0               Germany
 28  17476              Santiago, Chile        22.0                 Chile
 29  17765                 Nice, France        38.0                France
 30  17772             Cologne, Germany        57.0               Germany
 31  18077         Mauritius, Mauritius       171.0             Mauritius
 32  18117                       Online         NaN                   NaN
 33  18128          Zurich, Switzerland        32.0           Switzerland
 34  18194              Porto, Portugal        28.0              Portugal
 35  18195      Cape Town, South Africa        17.0          South Africa
 36  18295             Toulouse, France        38.0                France
 37  18321            Sydney, Australia        20.0             Australia

    country.abbrev  city.id        city.name    city.keyword  state.id  \
 0              AU  31174.0        Melbourne       melbourne       NaN
 1              MA  31119.0       Casablanca      casablanca       NaN
 2              AR  31171.0     Buenos Aires    buenos-aires       NaN
 3              BE  31125.0         Brussels        brussels       NaN
 4              MX  31175.0      Mexico City     mexico-city       NaN
 5              NL  31168.0        Amsterdam       amsterdam       NaN
 6              BR  31121.0        Sao Paulo       sao-paulo       NaN
 7              ES  31170.0        Barcelona       barcelona       NaN
 8              FR  31124.0         Bordeaux        bordeaux       NaN
 9              FR  31128.0            Lille           lille       NaN
 10             PT  31075.0           Lisbon          lisbon       NaN
 11             ID  31169.0             Bali            bali       NaN
 12             FR  31130.0           Nantes          nantes       NaN
 13             BR  31131.0  Rio de Janeiro   rio-de-janeiro       NaN
 14             FR  31129.0        Marseille       marseille       NaN
 15             CA  31135.0         Montreal        montreal       NaN
 16             CN  31108.0         Shanghai        shanghai       NaN
 17             JP  31132.0            Tokyo           tokyo       NaN
 18             FR  31106.0             Lyon            lyon       NaN
 19             DE  31156.0           Berlin          berlin       NaN
 20             FR  31136.0            Paris           paris       NaN
 21             CH  31163.0         Lausanne        lausanne       NaN
 22             ES  31052.0           Madrid          madrid       NaN
 23             FR  31147.0           Rennes          rennes       NaN
 24             SG  31154.0        Singapore       singapore       NaN
 25             GB  31176.0           London          london       NaN
 26             AE  31093.0            Dubai           dubai       NaN
 27             DE  31158.0           Munich          munich       NaN
 28             CL  31067.0         Santiago        santiago       NaN
 29             FR  31239.0             Nice            nice       NaN
 30             DE  31254.0          Cologne         cologne       NaN
 31             MU  31246.0        Mauritius       mauritius       NaN
 32            NaN      NaN              NaN             NaN       1.0
 33             CH  31082.0           Zurich          zurich       NaN
 34             PT  31102.0            Porto           porto       NaN
 35             ZA  31100.0        Cape Town       cape-town       NaN
 36             FR  31191.0         Toulouse        toulouse       NaN
 37             AU  31110.0           Sydney          sydney       NaN

    state.name state.abbrev state.keyword    school  school_id
 0         NaN          NaN           NaN  le-wagon      10868
 1         NaN          NaN           NaN  le-wagon      10868
 2         NaN          NaN           NaN  le-wagon      10868
 3         NaN          NaN           NaN  le-wagon      10868
 4         NaN          NaN           NaN  le-wagon      10868
 5         NaN          NaN           NaN  le-wagon      10868
 6         NaN          NaN           NaN  le-wagon      10868
 7         NaN          NaN           NaN  le-wagon      10868
 8         NaN          NaN           NaN  le-wagon      10868
 9         NaN          NaN           NaN  le-wagon      10868
 10        NaN          NaN           NaN  le-wagon      10868
 11        NaN          NaN           NaN  le-wagon      10868
 12        NaN          NaN           NaN  le-wagon      10868
 13        NaN          NaN           NaN  le-wagon      10868
 14        NaN          NaN           NaN  le-wagon      10868
 15        NaN          NaN           NaN  le-wagon      10868
 16        NaN          NaN           NaN  le-wagon      10868
 17        NaN          NaN           NaN  le-wagon      10868
 18        NaN          NaN           NaN  le-wagon      10868
 19        NaN          NaN           NaN  le-wagon      10868
 20        NaN          NaN           NaN  le-wagon      10868
 21        NaN          NaN           NaN  le-wagon      10868
 22        NaN          NaN           NaN  le-wagon      10868
 23        NaN          NaN           NaN  le-wagon      10868
 24        NaN          NaN           NaN  le-wagon      10868
 25        NaN          NaN           NaN  le-wagon      10868
 26        NaN          NaN           NaN  le-wagon      10868
 27        NaN          NaN           NaN  le-wagon      10868
 28        NaN          NaN           NaN  le-wagon      10868
 29        NaN          NaN           NaN  le-wagon      10868
 30        NaN          NaN           NaN  le-wagon      10868
 31        NaN          NaN           NaN  le-wagon      10868
 32     Online       Online        online  le-wagon      10868
 33        NaN          NaN           NaN  le-wagon      10868
 34        NaN          NaN           NaN  le-wagon      10868
 35        NaN          NaN           NaN  le-wagon      10868
 36        NaN          NaN           NaN  le-wagon      10868
 37        NaN          NaN           NaN  le-wagon      10868  ,
       id        description  country.id    country.name country.abbrev  \
 0  16360  New York City, NY         1.0   United States             US
 1  16372             Online         NaN             NaN            NaN
 2  16961         London, UK        11.0  United Kingdom             GB
 3  17033    Toronto, Canada         2.0          Canada             CA

    state.id state.name state.abbrev state.keyword  city.id city.name  \
 0      34.0   New York           NY      new-york   1507.0       NYC
 1       1.0     Online       Online        online      NaN       NaN
 2       NaN        NaN          NaN           NaN  31176.0    London
 3      66.0    Ontario           ON                31152.0   Toronto

     city.keyword            school  school_id
 0  new-york-city  general-assembly      10761
 1            NaN  general-assembly      10761
 2         london  general-assembly      10761
 3        toronto  general-assembly      10761  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1      66.0           Ontario           ON                 31152.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ,
       id        description  country.id    country.name country.abbrev  \
 0  15743  New York City, NY         1.0   United States             US
 1  16257             Online         NaN             NaN            NaN
 2  16761         Denver, CO         1.0   United States             US
 3  16958    London, England        11.0  United Kingdom             GB

    state.id state.name state.abbrev state.keyword  city.id city.name  \
 0      34.0   New York           NY      new-york   1507.0       NYC
 1       1.0     Online       Online        online      NaN       NaN
 2       7.0   Colorado           CO      colorado     27.0    Denver
 3       NaN        NaN          NaN           NaN  31176.0    London

     city.keyword           school  school_id
 0  new-york-city  flatiron-school      10748
 1            NaN  flatiron-school      10748
 2         denver  flatiron-school      10748
 3         london  flatiron-school      10748  ,
        id                 description  country.id   country.name  \
 0   16054    Miami, FL, United States         1.0  United States
 1   16758          Caracas, Venezuela        58.0      Venezuela
 2   17370               Madrid, Spain        12.0          Spain
 3   17805  Orlando, FL, United States         1.0  United States
 4   17806        San Jose, Costa Rica        18.0     Costa Rica
 5   17811         Montevideo, Uruguay        33.0        Uruguay
 6   18220            Barcelona, Spain        12.0          Spain
 7   18223                Milan, Italy        39.0          Italy
 8   18224                 Rome, Italy        39.0          Italy
 9   18225            Hamburg, Germany        57.0        Germany
 10  18226             Berlin, Germany        57.0        Germany
 11  18227             Dublin, Ireland        25.0        Ireland
 12  18228            Lisbon, Portugal        28.0       Portugal
 13  18229             Munich, Germany        57.0        Germany
 14  18231             Santiago, Chile        22.0          Chile
 15  18232            Bogota, Columbia        30.0       Colombia
 16  18233         Mexico City, Mexico        29.0         Mexico
 17  18234     Buenos Aires, Argentina        60.0      Argentina
 18  18236         Panama City, Panama         1.0  United States
 19  18237                  Lima, Peru       196.0           Peru
 20  18238              Quito, Ecuador       113.0        Ecuador
 21  18239             La Paz, Bolivia        83.0        Bolivia
 22  18241             Toronto, Canada         2.0         Canada
 23  18242               Malaga, Spain        12.0          Spain
 24  18370                      Online         NaN            NaN
 25  18371                 Atlanta, GA         1.0  United States
 26  18372                 Houston, TX         1.0  United States
 27  18373                 Chicago, IL         1.0  United States
 28  18374             Los Angeles, CA         1.0  United States
 29  18375                New York, NY         1.0  United States

    country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0              US      11.0     Florida           FL       florida     31.0
 1              VE       NaN         NaN          NaN           NaN  31159.0
 2              ES       NaN         NaN          NaN           NaN  31052.0
 3              US      11.0     Florida           FL       florida     33.0
 4              CR       NaN         NaN          NaN           NaN  31236.0
 5              UY       NaN         NaN          NaN           NaN  31089.0
 6              ES       NaN         NaN          NaN           NaN  31170.0
 7              IT       NaN         NaN          NaN           NaN  31107.0
 8              IT       NaN         NaN          NaN           NaN  31180.0
 9              DE       NaN         NaN          NaN           NaN  31222.0
 10             DE       NaN         NaN          NaN           NaN  31156.0
 11             IE       NaN         NaN          NaN           NaN  31099.0
 12             PT       NaN         NaN          NaN           NaN  31075.0
 13             DE       NaN         NaN          NaN           NaN  31158.0
 14             CL       NaN         NaN          NaN           NaN  31067.0
 15             CO       NaN         NaN          NaN           NaN  31078.0
 16             MX       NaN         NaN          NaN           NaN  31175.0
 17             AR       NaN         NaN          NaN           NaN  31171.0
 18             US       NaN         NaN          NaN           NaN    806.0
 19             PE       NaN         NaN          NaN           NaN  31256.0
 20             EC       NaN         NaN          NaN           NaN  31235.0
 21             BO       NaN         NaN          NaN           NaN  31300.0
 22             CA       NaN         NaN          NaN           NaN  31152.0
 23             ES       NaN         NaN          NaN           NaN  31298.0
 24            NaN       1.0      Online       Online        online      NaN
 25             US      12.0     Georgia           GA       georgia     36.0
 26             US      45.0       Texas           TX         texas     81.0
 27             US      15.0    Illinois           IL      illinois     39.0
 28             US       6.0  California           CA    california     10.0
 29             US      34.0    New York           NY      new-york   3619.0

        city.name  city.keyword          school  school_id
 0          Miami         miami  4geeks-academy      10492
 1        Caracas       caracas  4geeks-academy      10492
 2         Madrid        madrid  4geeks-academy      10492
 3        Orlando       orlando  4geeks-academy      10492
 4       San Jose      san-jose  4geeks-academy      10492
 5     Montevideo    montevideo  4geeks-academy      10492
 6      Barcelona     barcelona  4geeks-academy      10492
 7          Milan         milan  4geeks-academy      10492
 8           Rome          rome  4geeks-academy      10492
 9        Hamburg       hamburg  4geeks-academy      10492

In [21]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,18146,"Hamburg, Germany",57.0,Germany,DE,31222.0,Hamburg,hamburg,NaN,NaN,NaN,NaN,neue-fische,11753
2,18147,"Koln, Germany",57.0,Germany,DE,31290.0,Köln,köln,NaN,NaN,NaN,NaN,neue-fische,11753
3,18148,"Munchen, Germany",57.0,Germany,DE,31291.0,München,münchen,NaN,NaN,NaN,NaN,neue-fische,11753
4,18149,"Frankfurt, Germany",57.0,Germany,DE,31292.0,Frankfurt,frankfurt,NaN,NaN,NaN,NaN,neue-fische,11753
0,16129,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,spiced-academy,11034

In [22]:
courses = pd.concat(courses_list)
courses

                       courses          school  school_id
0      Cyber Security Bootcamp        ironhack      10828
1      Cybersecurity Part-Time        ironhack      10828
2      Data Analytics Bootcamp        ironhack      10828
3     Data Analytics Part-Time        ironhack      10828
4        UX/UI Design Bootcamp        ironhack      10828
..                         ...             ...        ...
2                 DATA SCIENCE     neue-fische      11753
3             JAVA DEVELOPMENT     neue-fische      11753
4              WEB DEVELOPMENT     neue-fische      11753
0                 Data Science  spiced-academy      11034
1   Full Stack Web Development  spiced-academy      11034

[143 rows x 3 columns]

In [23]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [25]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.lewagon.com,"<span class=""truncatable""><p>Le Wagon is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868
0,generalassemb.ly?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>General Assembly ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,flatironschool.com/?utm_campaign=FIS%20Partner...,"<span class=""truncatable""><p>Founded in 2012 a...",https://d92mrp7hetgfk.cloudfront.net/images/si...,flatiron-school,10748
0,www.4geeksacademy.co,"<span class=""truncatable""><p>4Geeks Academy is...",https://d92mrp7hetgfk.cloudfront.net/images/si...,4geeks-academy,10492
0,applyto.academiadecodigo.org,"<span class=""truncatable""><p>Founded in Lisbon...",https://d92mrp7hetgfk.cloudfront.net/images/si...,academia-de-codigo,10494
0,wildcodeschool.com,"<span class=""truncatable""><p>Wild Code School ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,wild-code-school,11169
0,edit.com.pt,"<span class=""truncatable""><p>EDIT. - Disruptiv...",https://d92mrp7hetgfk.cloudfront.net/images/si...,edit-disruptive-digital-education,10731
0,nuclio.school/,"<span class=""truncatable""><p>Nuclio Digital Sc...",https://d92mrp7hetgfk.cloudfront.net/images/si...,nuclio-digital-school,11509
0,neoland.es/,"<span class=""truncatable""><p>Neoland School sp...",https://d92mrp7hetgfk.cloudfront.net/images/si...,neoland,10906
0,www.lacapsule.academy,"<span class=""truncatable""><p>La Capsule is a f...",https://d92mrp7hetgfk.cloudfront.net/images/si...,la-capsule,10853
0,careerfoundry.com/en/home,"<span class=""truncatable""><p>CareerFoundry off...",https://d92mrp7hetgfk.cloudfront.net/images/si...,careerfoundry,10581
0,www.neuefische.de/,"<span class=""truncatable""><p>neue fische is Ge...",https://d92mrp7hetgfk.cloudfront.net/images/si...,neue-fische,11753
0,spiced-academy.com,"<span class=""truncatable""><p>SPICED Academy is...",https://d92mrp7hetgfk.cloudfront.net/images/si...,spiced-academy,11034

In [30]:
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [32]:
locations.rename(columns=lambda x: x.replace('.', '_'), inplace=True)

from sqlalchemy import create_engine
import pymysql  # Make sure pymysql is imported

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="DAPT2023",
                               db="projects"))

locations.to_sql('locations', con=engine, if_exists='append', chunksize=1000, index=False)

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'school' at row 128")
[SQL: INSERT INTO locations (id, description, country_id, country_name, country_abbrev, city_id, city_name, city_keyword, state_id, state_name, state_abbrev, state_keyword, school, school_id) VALUES (%(id)s, %(description)s, %(country_id)s, %(country_name)s, %(country_abbrev)s, %(city_id)s, %(city_name)s, %(city_keyword)s, %(state_id)s, %(state_name)s, %(state_abbrev)s, %(state_keyword)s, %(school)s, %(school_id)s)]
[parameters: ({'id': 15901, 'description': 'Berlin, Germany', 'country_id': 57.0, 'country_name': 'Germany', 'country_abbrev': 'DE', 'city_id': 31156.0, 'city_name': 'Berlin', 'city_keyword': 'berlin', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16022, 'description': 'Mexico City, Mexico', 'country_id': 29.0, 'country_name': 'Mexico', 'country_abbrev': 'MX', 'city_id': 31175.0, 'city_name': 'Mexico City', 'city_keyword': 'mexico-city', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16086, 'description': 'Amsterdam, Netherlands', 'country_id': 59.0, 'country_name': 'Netherlands', 'country_abbrev': 'NL', 'city_id': 31168.0, 'city_name': 'Amsterdam', 'city_keyword': 'amsterdam', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16088, 'description': 'Sao Paulo, Brazil', 'country_id': 42.0, 'country_name': 'Brazil', 'country_abbrev': 'BR', 'city_id': 31121.0, 'city_name': 'Sao Paulo', 'city_keyword': 'sao-paulo', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16109, 'description': 'Paris, France', 'country_id': 38.0, 'country_name': 'France', 'country_abbrev': 'FR', 'city_id': 31136.0, 'city_name': 'Paris', 'city_keyword': 'paris', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16375, 'description': 'Miami, FL, United States', 'country_id': 1.0, 'country_name': 'United States', 'country_abbrev': 'US', 'city_id': 31.0, 'city_name': 'Miami', 'city_keyword': 'miami', 'state_id': 11.0, 'state_name': 'Florida', 'state_abbrev': 'FL', 'state_keyword': 'florida', 'school': 'ironhack', 'school_id': 10828}, {'id': 16376, 'description': 'Madrid, Spain', 'country_id': 12.0, 'country_name': 'Spain', 'country_abbrev': 'ES', 'city_id': 31052.0, 'city_name': 'Madrid', 'city_keyword': 'madrid', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}, {'id': 16377, 'description': 'Barcelona, Spain', 'country_id': 12.0, 'country_name': 'Spain', 'country_abbrev': 'ES', 'city_id': 31170.0, 'city_name': 'Barcelona', 'city_keyword': 'barcelona', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'ironhack', 'school_id': 10828}  ... displaying 10 of 152 total bound parameter sets ...  {'id': 18149, 'description': 'Frankfurt, Germany', 'country_id': 57.0, 'country_name': 'Germany', 'country_abbrev': 'DE', 'city_id': 31292.0, 'city_name': 'Frankfurt', 'city_keyword': 'frankfurt', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'neue-fische', 'school_id': 11753}, {'id': 16129, 'description': 'Berlin, Germany', 'country_id': 57.0, 'country_name': 'Germany', 'country_abbrev': 'DE', 'city_id': 31156.0, 'city_name': 'Berlin', 'city_keyword': 'berlin', 'state_id': None, 'state_name': None, 'state_abbrev': None, 'state_keyword': None, 'school': 'spiced-academy', 'school_id': 11034})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)